__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
node_modules/
frontend/build
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
.env
.env.local
*.log
.DS_Store
.git
.gitignore
README.md
archive/
*.html
*.csv
*.db
*.db-journal


