# fly.toml app configuration file generated for obsocure-sorrows-browser on 2025-11-30T20:48:54+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'obscure-sorrows-browser'
primary_region = 'fra'

[build]

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  size = 'shared-cpu-1x'

[[mounts]]
  source = "obscure_sorrows_db"
  destination = "/data"

[env]
  DATABASE_URL = "sqlite:////data/dictionary.db"
